# https://github.com/github/gitignore/

# macOS 🖕
**/.DS_Store
# Ignore Trash files
.Trash-1000

# track all files with a name of `.gitkeep`
!.gitkeep
!.keep

# Ignore bundler config
/.bundle
/vendor/bundle/**

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.gitkeep
!/tmp/.gitkeep

# Ignore files in public dir
public/*
!public/.gitkeep

# Ignore certain rails project files
# https://github.com/github/gitignore/blob/master/Rails.gitignore

*.rbc
capybara-*.html
.rspec
# ignore all test coverage reports for git tracking
coverage/
/spec/tmp
/**.orig
rerun.txt
pickle-email-*.html
# Ignorre more rails project files
doc/api
doc/app

# Comment out these rules if your OK with secrets being uploaded
config/secrets.yml
.env/**

# Cap requires the Gemfile.lock be checked into version control unless supportinng rvm < 1.11.0 doing something fancy, ignore this: .rvmrc

# Ignore vim swap files
**/.swp
**/~
**/.swo

# Ignore my scratchpad file
scratchpad.txt

# rails 5.2.x artifacts
**/node_modules/**
yarn.lock

# ignore local symlink to chrisrjones_client project
chrisrjones_client-react

# asdf
.tool-versions
