<h1>Vanilla File Upload in Rails 4</h1>
<p>This is an example application to show how to do file upload in vanilla Rails 4. The source is on <a href="https://github.com/ryan-endacott/Rails-File-Upload-Example">GitHub</a> and an accompanying tutorial can be found <a href="http://ryan.endacott.me/2014/06/10/rails-file-upload.html">here</a>. Created by <a href="http://ryan.endacott.me/">Ryan Endacott</a>.</p>
<h2>Listing documents</h2>
<table>
<thead>
<tr>
<th>Filename</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @attachments.each do |attachment| %>
<tr>
<td><%= attachment.filename %></td>
<td><%= button_to 'Download', attachment, method: :get %></td>
<td><%= button_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New Attachment', new_attachment_path %>