.about-page-container {
  margin: 2rem 6rem;
}

.articles-page-container {
  margin: 2rem 6rem;
}

.error-page-container {
  height:100%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.error-page-text {
  /* NOTE: ipatch, make the text appear below the oops statement */
  /* display: inline-block; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  text-align: center;
}

.signup-page-container {
  margin: 2rem 6rem;
  /* display: flex; */
  /* display: block; */
}

.login-page-container {
  margin: 2rem 6rem;
}

.Navbar {
  /* border: 1px solid red; */
  font-family: Helvetica;
  display: flex;
  /* justify-content: center; */
  /* NOTE: ipatch, centers items horizontally within the div, ie. ----- */
  align-items: center;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.navbar-left {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.navbar-right {
  display:flex;
  /* cursor: pointer; */
}

.navbar-right a {
  cursor: pointer;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: #9d9d9d;
  font-size: 18px;
  align-items: center;
  padding-right: 25px;
}

.logo a:hover {
  color: #fff
}

.logo {
  /* border: 1px solid red; */
  padding: 15px 0px 15px 15px;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-links ul {
  /* border: 1px solid red; */
  list-style: none; 
  display: flex;
  /* gap: 20px; */
  margin: 0;
  padding: 0;
}

.navbar-links {
  /* border: 1px solid red; */
  cursor: pointer;
  /* justify-content: center; */
  /* display: 'flex'; */
  /* gap: '1rem'; */
  /* max-height: 1180px; */
  /* padding: 15px 15px; */
}

.navbar-links #hidden {
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  gap: '1rem';
  color: #9d9d9d;
  font-size: 14px;
  /* margin-left: 8px; */
  margin: 7px;
}

.navbar-links a:hover {
  color: #fff;
}

.navbar-navi-button {
  display: none;
}

/* NOTE: ipatch nvim ufo can't fold this #fixme: */
@media only screen and (max-width: 650px) {
  .navbar-navi-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
