.about-page-container {
  margin: 2rem 6rem;
}

.error-page-container {
  height:100%;
  width:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.error-page-text {
  /* NOTE: ipatch, make the text appear below the oops statement */
  /* display: inline-block; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  text-align: center;
}

.signup-page-container {
  margin: 2rem 6rem;
  /* display: flex; */
  /* display: block; */
}
.Navbar {
  font-family: Helvetica;
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: 'flex';
  gap: '1rem';
  /* max-height: 1180px; */
  cursor: pointer;
}

.navbar-links #hidden {
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  gap: '1rem';
  color: red;
  font-size: 20px;
  margin-left: 8px;
}

.navbar-navi-button {
  display: none;
}

/* NOTE: ipatch nvim ufo can't fold this #fixme: */
@media only screen and (max-width: 650px) {
  .navbar-navi-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
