<h1>About Me</h1>
<hr />
<p>
	Hello, my name Chris Jones, and and I am 35 year old hobbyist programmer.  I have written an iOS app, <a href="http://ipatch.github.io/KegCop/">KegCop</a>, and am currently maintaining all aspects of this site.  I have chosen a variety of open source software to maintain the site, and I hope you enjoy your visit.  
</p>
<p>
	While working on this site, I am also working on building out a <a href="http://kegcop.chrisrjones.com">web front-end for KegCop</a>, so users are able to maintain their accounts while being away from the kegerator.
</p>
<p>
	I also maintain another site, <a href="http://theairportwiki.com">theairportwiki.com</a> which contains a lot of information concerning Apple home routers and NAS's.
</p>
<p>
	Frequently check in, to see updates, as the site is a constant work in progress.  Thanks for reading.
</p>

<!-- hold on to your butts @2 -->
