/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#sign-up {
	text-align: center;
}

#log-in {
	text-align: center;
}

.actions { 
	width: 100%;
	text-align: center;
}

.form-actions { 
	width: 100%;
	text-align: center;
}

/* the below centers the 'sign up' btn on the sign up page */
div.actions { 
	width: 100%;
	text-align: center;
}

h1 {
	/*color: blue;*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
 /* iPhone 5 Media Query for portrait*/

h1 {
	/*font-size: 0.5em;*/
}

 }